.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px rgb(8, 203, 252);
}
.heading_div
{
    float:none;
    background: green;
    padding:10px;
    border-radius:20px;
    color:black;
    box-shadow:5px 5px 5px aqua;
}
.heading_div2
{
    font-size:18px;
}
.result_para_tag
{
    box-shadow:5px 5px 5px purple;
    font-size:20px;
}
.copy_right_footer{
    position: fixed;
    color: lightcyan;
    bottom: 0;
    width: 100%;
    background-color:orange;
    line-height:3;
    text-align:center;
}
canvas{
    border: 5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px orange;
    margin-top: 150px;
}